<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin-Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>
<div class="container container-fluid text-center">

    <h1 style="margin-top: 10px">Admin menu</h1>
    <div class="ILMenu flex-column" style="margin-top: 10px">
        <a th:href="@{admin/comic}">Comics</a>
        <a th:href="@{admin/author}">Authors</a>
        <a th:href="@{admin/artist}">Artists</a>
        <a th:href="@{admin/publisher}">Publishers</a>
        <a th:href="@{admin/series}">Series</a>
        <a th:href="@{admin/register}">Registration</a>
        <a th:href="@{/}">Home</a>
    </div>
</div>
</body>
</html>