<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>
<div class="container container-fluid">
    <div th:replace="~{fragments/header-fragment :: header}"></div>
    <div th:replace="~{fragments/header-fragment :: navMenu}"></div>
    <div class="main-container">
        <div th:replace="~{fragments/side-nav-fragment :: sideNav}"></div>
        <div class="form-container">
            <form th:action="@{save}" th:object="${info}" method="post">
                <label for="title">Title:</label>
                <select id="title" th:field="*{title}">
                    <option th:each="t : ${T(com.daniil.comicshop.entity.ClientInfo.title).values()}"
                            th:value="${t}" th:text="${t}"></option>
                </select>

                <label for="name">Имя:</label>
                <input type="text" id="name" th:field="*{name}">

                <label for="familyName">Фамилия:</label>
                <input type="text" id="familyName" th:field="*{familyName}">

                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" th:field="*{phone}">

                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}">

                <label for="address">Адрес:</label>
                <input type="text" id="address" th:field="*{address}">

                <label for="city">Город:</label>
                <input type="text" id="city" th:field="*{city}">

                <label for="postalCode">Почтовый индекс:</label>
                <input type="text" id="postalCode" th:field="*{postalCode}">

                <label for="county">Страна:</label>
                <input type="text" id="county" th:field="*{county}">

                <button class="btn btn-success">Сохранить</button>
                <a th:href="@{/}" class="btn btn-danger">Отменить</a>

            </form>
        </div>
    </div>
</div>
>
</body>
</html>