<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>
<div class="container container-fluid">
    <div th:replace="~{fragments/header-fragment :: header}"></div>
    <div th:replace="~{fragments/header-fragment :: navMenu}"></div>
    <div class="main-container">
        <div th:replace="~{fragments/side-nav-fragment :: sideNav}"></div>
        <div class="cart-container text-center">
            <div th:if="${order.comics}">
                <form id="cart-form">
                    <table class="table table-borderless" style="max-height: 600px;">
                        <tbody id="comic-info">
                        <tr th:each="item, iStat: ${order.comics}">
                            <td><img style="max-width: 50px;max-height: 125px" th:src="@{${item.comic.imagePath}}"></td>
                            <td>[[${item.comic.name}]]</td>
                            <td style="max-width: 20px">
                                <input type="number"
                                       name="items[${iStat.index}].amount"
                                       min="1" th:value="${item.amount}"
                                       oninput="updateTotal()">
                            </td>
                            <td class="comic-price">[[${item.comic.price}]]</td>
                            <td><a class="btn btn-close" th:data-id="${item.comic.id}"
                                   onclick="deleteById(this.parentNode.parentNode,this.getAttribute('data-id'))">
                            </a></td>

                            <td style="display: none" class="comic-id" th:text="${item.comic.id}"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <div id="total-container" class="total-container">Total: 0</div>
            </div>
            <button id="buyButton" type="button" class="buy-btn buy-btn-2" style="margin-bottom: 10px"
                    onclick="submitCart()">Оплатить</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function updateTotal() {
        var form = document.getElementById("cart-form");
        var rows = form.querySelectorAll("#comic-info tr");
        var total = 0;

        rows.forEach(function(row) {
            var input = row.querySelector("input[type='number']");
            var amount = parseInt(input.value);
            var price = parseFloat(row.querySelector(".comic-price").textContent);
            total += amount * price;
        });


        document.getElementById("total-container").textContent = "Total: " + total.toFixed(2);

        var buyButton = document.getElementById("buyButton");

        if (!rows.length > 0) {
            buyButton.style.display = "none";
        }
    }


    function deleteById(row,comicId) {
        var param ="?comicId=" + encodeURIComponent(comicId);
        var url ="/order/remove" + param;
        fetch(url,{
            method:'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(function (response){
          if (response.ok){
              row.remove();
              updateTotal();
              return response.text();
          }
        })
            .then(function (text){
                console.log(text);

            })
    }

    function submitCart() {
        var form = document.getElementById("cart-form");
        var rows = form.querySelectorAll("#comic-info tr");

        var data = [];

        rows.forEach(function(row) {
            var comicIdElement = row.querySelector(".comic-id");
            var comicId = parseInt(comicIdElement.textContent);
            var input = row.querySelector("input[type='number']");
            var amount = input.value;



            var item = {
                comicId: parseInt(comicId),
                amount: parseInt(amount)
            };

            data.push(item);
        });

        fetch("/order/confirm", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(function(response) {
                if (response.ok) {
                    window.location.href = '/order/save';
                } else {
                }
            })
            .catch(function(error) {
            });
    }
</script>

</body>
<script>
    updateTotal();
</script>
</html>