<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comics</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>

<p th:if="${newComic != null}" class="alert alert-success">
    New comic added [[${newComic.name}]]
</p>
<p th:if="${deletedComics != null}" class="alert alert-danger">
    Comic was deleted [[${deletedComics.name}]]
</p>
<p th:if="${updatedComic != null}" class="alert alert-info">
    Comic was changed [[${updatedComic.name}]]
</p>
<div class="container main-content">
    <h1 class="text-center" style="margin:15px 0 15px ">Comics</h1>
    <div class="ILMenu">
        <a th:href="@{comic/add}">Add</a>
        <a th:href="@{/admin}">Back</a>
        <a th:href="@{/}">Home</a>
    </div>
    <div style="margin-top:10px ">
    <ul>
        <li class="list-inline-item" th:each="comic:${comics}">
            <a th:href="@{'comic/' + ${comic.id}}">
                <img class="table-img" th:src="@{${comic.imagePath}}">
                <br> [[${comic.name}]]
            </a>
        </li>
    </ul>
    </div>
</div>
</body>
</html>