<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>
<div class="container container-fluid">
    <div th:replace="~{fragments/header-fragment :: header}"></div>
    <div th:replace="~{fragments/header-fragment :: navMenu}"></div>
    <div class="main-container">
        <div th:replace="~{fragments/side-nav-fragment :: cabinetSideNav}"></div>
        <div class="form-container">
            <p th:if="${changedInfo != null}" class="alert alert-success">Информация была измененна</p>
            <form th:action="@{info}" th:object="${info}" method="post">
                <label for="title">Title:</label>
                <select id="title" th:field="*{title}">
                    <option value="MR">MR</option>
                    <option value="MRS">MRS</option>
                </select>

                <label for="name">Firstname:</label>
                <input type="text" id="name" th:field="*{name}">

                <label for="familyName">Lastname:</label>
                <input type="text" id="familyName" th:field="*{familyName}">

                <label for="phone">Phone:</label>
                <input type="tel" id="phone" th:field="*{phone}">

                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}">

                <label for="address">Address:</label>
                <input type="text" id="address" th:field="*{address}">

                <label for="city">City:</label>
                <input type="text" id="city" th:field="*{city}">

                <label for="postalCode">Postal index:</label>
                <input type="text" id="postalCode" th:field="*{postalCode}">

                <label for="country">Country:</label>
                <select id="country" th:field="*{country}">
                    <option value="US">USA</option>
                    <option value="FI">Finland</option>
                    <option value="CA">Canada</option>
                    <option value="RU">Russia</option>
                </select>

                <button class="btn btn-success">Save</button>
                <a th:href="@{/cabinet}" class="btn btn-danger">Cancel</a>

            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer-fragment::footer}"></div>
</body>
</html>