<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>
<div class="sidenav col-2 mt-1" th:fragment="sideNav">
    <p>PLACEHOLDER</p>
    <div class="border">
    <a>Top 10</a>
    <a>New</a>
    <a>Authors</a>
    <a>Artists</a>
    </div>
</div>
<div class="sidenav col-2 mt-1 sidenav-string-link" th:fragment="cabinetSideNav">
    <h5>Selected</h5>
    <a th:href="@{/cabinet/authors}">Authors</a>
    <a th:href="@{/cabinet/artists}">Artists</a>
    <a th:href="@{/cabinet/series}">Series</a>
    <br>
    <a th:href="@{/cabinet/orders}">Order history</a>
    <br>
    <a th:href="@{/cabinet/info}">Changing personal data</a>
</div>
</body>
</html>