<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>
<div class="container container-fluid">
    <div>
        <div th:replace="~{fragments/header-fragment :: header}"></div>
        <div class="ILMenu flex-column">
            <div th:replace="~{fragments/header-fragment :: navMenu}"></div>
        </div>
    </div>
    <div class="container main-container">
        <div th:replace="~{fragments/side-nav-fragment :: sideNav}"></div>
        <div class="main-content">
            <h1 class="text-center mt-1">[[${comic?.name}]]</h1>
            <div class="row">
                <div class="col-md-3 comic-image">
                    <img class="img-fluid" th:src="@{${comic.imagePath}}">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Авторы</h3>
                            <p th:each="author:${comic.authors}">
                                <a style="text-decoration: none; color: #333333"
                                   th:href="@{'/author/' + ${author.id}}">[[${author.name}]]</a>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h3>Художники</h3>
                            <p th:each="artist:${comic.artists}">
                                <a style="text-decoration: none; color: #333333"
                                   th:href="@{'/artist/' + ${artist.id}}">[[${artist.name}]]</a>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-12">
                            <p th:text="${comic.description}"></p>
                        </div>
                    </div>
                </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h4>[[${comic.publisher.name}]]</h4>
                        <h4 th:if="${comic.series != null}">
                            <a style="text-decoration: none; color: #333333"
                               th:href="@{'/series/' + ${comic.series.id}}">[[${comic.series.name}]]</a>
                        </h4>
                        <h4 style="margin-right: 140px;">Цена: [[${comic.price}]]</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-lg-5">
            <div class="col text-center">
                <form th:action="@{/order/add}" th:object="${item}" method="post">
                    <input type="hidden" th:value="${comic.id}" th:attr="name='comic'">
                    <label for="amount">Кол-во</label>
                    <input id="amount" type="number" th:value="1" th:attr="name='amount'" min="1" required
                           style="max-width: 150px">
                    <button class="buy-btn buy-btn-2">Купить</button>
                </form>
            </div>
        </div>
    </div>
<div th:replace="~{fragments/footer-fragment::footer}"></div>
</body>
</html>