<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
</head>
<body>
<div class="container-fluid text-center">
    <h1>Comics</h1>
    <ul class="list-group-item">
        <li th:each="comic:${comics}">
            <img th:src="@{${comic.imagePath}}" class="img img-thumbnail">
            <br> [[${comic.name}]]
        </li>
    </ul>
</div>

</body>
</html>