<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generic comic shop name</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>

<div class="container container-fluid" style="">
    <header class="line-header">
        <div class="text-center"><p class="text-white"> Header img placeholder</p></div>
    </header>
    <div class="ILMenu">
        <nav>
            <ul class="header-nav-btn">
                <a>Кабинет</a>
                <a>О нас</a>
                <a>Корзина</a>
                <a th:href="@{/admin}">Админ меню</a>
            </ul>
        </nav>
    </div>

</div>
<div>
    <div class="container main-container text-center bg-dark">
        <div class="sidenav mt-1" style="background-color: blueviolet">
            <a>Топ 10 комиксов</a>
            <a>Новый пступления</a>
            <a>Авторы</a>
            <a>Художники</a>
        </div>
        <div class="main-content" style="background-color: red">
            <ul>
                <li class="col-3 list-inline-item" th:each="comic:${comics}">
                    <img class="table-img" th:src="@{${comic.imagePath}}">
                    <br> [[${comic.name}]]
                </li>
            </ul>
        </div>
    </div>
    <   footer class="footer text-center"> здесь Footer</footer>
</div>
</body>
</html>