<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>artist</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
</head>
<body>
<div class="container text-center container-fluid">
    <h2>Artist</h2>
    <div class="main-container">
        <div class="sidenav col-2 mt-1 bg-white">
            <p>Id - [[${artist.id}]]</p>
            <p>Name - [[${artist.name}]]</p>
        </div>
        <div class="main-content">
            <div class="row no-text-center">
                <h2 style="margin-left: 2em">Comics:</h2>
                <ul>
                    <li class="col-md-3 list-inline-item text-center mt-2" th:each="comic:${artist.comics}">
                        <a th:href="@{'/admin/comic/' + ${comic.id}}" class="comic-item">
                            <img class="table-img" th:src="@{${comic.imagePath}}">
                            <br> [[${comic.name}]]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-success" th:href="@{${artist.id} + '/change'}">Change</a>
        <a class="btn btn-info" th:href="@{/admin/artist}">Back</a>
        <a class="btn btn-danger" th:href="@{${artist.id} + '/delete'}">Delete</a>
    </div>
</div>
</body>
</html>